:root {
  --color1: #5f0f40;
  --color2: #9a031e;
  --color3: #fb8b24;
  --color4: #e36414;
  --color5: #0f4c5c;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--color5);
  color: rgb(249, 252, 255);
  padding-bottom: 5px;
}
/* brandon changed below this line in header */

body {
  padding-top: 25px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 0px;
}

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  margin-left: 60px;
  border-bottom: 5px var(--color3) solid;
  padding: 0px 40px;
  line-height: 100px;
}

#pointsDisplay {
  font-family: "Concert One", cursive;
  margin: auto 35px;
  padding: 25px;
  text-align: center;
  background-color: white;
  color: var(--color4);
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 5px 5px var(--color3);
}

#userDisplay {
  display: flex;
  flex-direction: row;
}

#userBtnContainer {
  display: flex;
  flex-direction: column;
}

.card {
  height: 100px;
  width: 600px;
  border: solid black 1px;
}
/* Brandon added 1 */
.answer-label {
  font-size: 30px;
}
/* Brandon added 2 */
.question {
  line-height: 40px;
  padding-right: 40px;
  display: inline-flex;
  align-content: center;
  margin-left: 40px;
  font-size: 37px;
  color: rgb(44, 44, 43);
}
/* Brandon added 3 */
.card {
  top: 50px;
  left: 50px;
  display: flex;
  justify-content: center;
  padding-top: px;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border-radius: 5px;
  background-image: url(https://images.unsplash.com/photo-1612538498613-35c5c8d675c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  margin: center;
  box-shadow: 0 0 5px 5px #555;
}
/* brandon added 4 */
button {
  padding-left: 30px;
  margin: 0 auto;
  height: 80px;
  width: 200px;
}
#next-question-button {
  margin: 20px;
  padding: 5px;
  font-size: 20px;
  /* border-radius: 5px; */
}

/* #point-display {
  /* font-family: 'Concert One', cursive; */

#points-display-element {
  display: block;
  padding: 0px;
  line-height: 50px;
}

#result-message-element {
  display: block;
  padding: 0px;
  line-height: 50px;
}

/* brandon added 5 */
div {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  color: #555;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  line-height: 40px;
  padding-right: 40px;
  display: inline-flex;
  align-content: center;
  margin-left: 40px;
  font-size: 50px;
  color: rgb(44, 44, 43);
}
/* brandon added 6 */
.cards-container {
  padding-top: 40px;
  padding-bottom: 10px;
}
/* brandon added 7 */
div.card.result-card {
  padding-top: 2px;
}
/* these are special styles */
